#page{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(100,100,100);

}

#titre{
     color: #FFFFFF;
     background: rgb(100,100,100);
     text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
     font-size: 40px;
}

.rubrique{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80%;
     border-radius: 10px;
     margin: 20px;
}

#mael {
     background-color: rgb(230,247,255);
}

#mathison {
     background-color: rgb(255,204,153);
}

.picture {
  width: 100px;
  height: auto; /* Remplacez 400px par la hauteur maximale souhaitée */
  padding: 20px;
  margin: 20px;
}